header {
	padding: 0px 20px;
}
#menu {
	background-color: $background-color_1;
	li {
		a {
			font-size: 18px;
			font-weight: bold;
			color: $color_11;
			&:hover{
				opacity: 0.5;
			}
			
		}
		#facebook{
			opacity: 1;
		}
		#instagram{
			opacity: 1;
		}
		#whatsapp{
			opacity: 1;
		}
		
		.active{
			border-bottom: solid 3px $color_3;
			color: $color_1;
			}
		}
}
.dropdown-menu {
	background-color: $background-color_1;
	a {
		color: $color_1;
	}
}
.logo {
	&:hover {
		opacity: 0.5;
	}
}