header {
	padding: 0px 20px;
}
#menu {
	background-color: $background-color_1;
	li {
		>a {
			font-size: 18px;
			font-weight: bold;
			color: $color_1;
		}
	}
}
.dropdown-menu {
	background-color: $background-color_1;
	a {
		color: $color_1;
	}
}
.logo {
	&:hover {
		opacity: 0.5;
	}
}
nav {
	ul {
		li {
			a {
				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}