@media screen and (max-width: 860px) {
	.contenedor-reforma {
		width: 90%;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 35px 0px;
		align-items: center;
		text-align: center;
	}
    
}
@media screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
	.contenedor-principal-nosotros {
		width: 90%;
		margin-left: 20px;
	}
}
@media screen and (max-width: 800px) {
	.pie-pagina {
		.grupo-1 {
			width: 90%;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 30px;
			padding: 35px 0px;
		}
	}
	.contenedor-principal-servicios {
		width: 85%;
		margin-left: 20px;
		padding: 35px 0px;
	}
}
@media (max-width: 800px) {
	.contenedor-principal-trabajos {
		flex: 50%;
		padding: 5px;
	}
}
@media (max-width: 600px) {
	.contenedor-principal-trabajos {
		flex: 100%;
		padding: 5px;
	}
}
