$color_1: #fff;
$color_2: #373737;
$color_3: #F58634;
$color_4: #7a7a7a;
$color_5: #000;
$color_6: #efefef;
$color_7: #4267B2;
$color_8: #C13584;
$color_9: #25D366;
$color_10: #ffffff;
$color_11: #bfbfbf;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #0d2033;
$background-color_2: #F58634;
$background-color_3: #fff;
$background-color_4: #0a141d;
$background-color_5: #7a7a7a;