@keyframes move_vector {
	0% {
		transform: translateY(10px);
	}
	25% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(10px);
	}
}

.carousel-inner {
	max-height: 42rem;
}
.contenedor-reforma {
	padding: 20px;
	display: flex;
	justify-content: center;
	.contenedor-reforma-texto {
		margin-top: 60px;
		padding-bottom: 60px;
		max-width: 400px;
		h1 {
			max-width: 400px;
			font-size: 60px;
			font-weight: 900;
			color: $color_2;
		}
		h2 {
			font-size: 60px;
			font-weight: 900;
			color: $color_3;
		}
		p {
			margin-top: 10px;
			color: $color_4;
			text-align: justify;
			font-size: 18px;
			font-weight: bold;
		}
	}
	.imagen-animacion {
		margin-left: 30px;
		width: 100%;
		max-width: 550px;
		animation: move_vector 6s ease-in-out infinite;
	}
}
.estilo-boton-1 {
	padding: 10px 40px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 600;
	border: none;
	background-color: $background-color_2;
	border-radius: 20px;
	cursor: pointer;
	a {
		text-decoration: none;
		color: $color_1;
	}
	&:hover {
		box-shadow: 1px 1px 30px -5px rgba(32, 32, 32, 0.5215686275);
	}
}